# Process PHP inside .html and .htm files
AddType application/x-httpd-php .php .html .htm

RewriteEngine On

# If requested without .html, serve the .html file silently
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]